<template>
    <ion-item
      :router-link="`/user-assets/${asset.id}`"
      > 
        <ion-thumbnail slot="start">
            <ion-img :src="asset.image" :alt="asset.name"></ion-img>
        </ion-thumbnail>
        <ion-label>
            {{ asset.name }}
        </ion-label>
    </ion-item>
</template>

<script lang="ts">
    import {IonItem, IonThumbnail, IonLabel, IonImg} from '@ionic/vue';

    export default {
        props: ['asset'],
        components: {
            IonItem,
            IonThumbnail,
            IonLabel,
            IonImg,
        }
    };
</script>