<template>
          <form class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-label>Space Asset Name</ion-label>
            <ion-input type="text" required />
          </ion-item>

          <ion-item>
            <ion-label>Image URL</ion-label>
            <ion-input type="url" required />
          </ion-item>

          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea rows:int=5 required />
          </ion-item>
        </ion-list>
        <ion-button filled="block" >Save</ion-button>

      </form>
</template>

<script>
    import {IonList, IonItem, IonLabel, IonInput, IonTextarea, IonButton} from '@ionic/vue';

    export default {
        components: {
        IonList,
        IonItem, 
        IonLabel,
        IonInput,
        IonTextarea,
        IonButton
      }
    }

</script>