<template>
    <div>
        <ion-img :src="image" alt="name">

        </ion-img>
        <h2 class="ion-text-center"> {{ name }}</h2>
        <p class="ion-text-center">{{ description }}</p>
    </div>
</template>

<script lang="ts">
    import {IonImg } from '@ionic/vue';

    export default {
        props: ['name', 'image', 'description'],
        components: {
            IonImg
        }
}
</script>