<template>
    <base-layout pageTitle = "Complete Space Overview" page-default-back-link="/login">
        <ion-searchbar :search-icon="searchCircle" placeholder="Search for Asset ID or name " show-clear-button="focus"></ion-searchbar>
    <!-- <ion-header> -->
    
            <!-- <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-back-button default-href="/login"></ion-back-button>
                </ion-buttons>
                <ion-searchbar placeholder="Search for Asset ID or name " show-clear-button="focus"></ion-searchbar>
                <ion-buttons slot="secondary">
                    <ion-button fill="solid">
                        <ion-icon slot="icon-only" :icon="personCircle"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar> -->

        <!-- </ion-header> -->
        

        <!-- <table border="1px">
            <tr>
                <td>address</td>
                <td>asset</td>
                <td>balance</td>
                <td>nonce</td>
                <td>shared</td>
            </tr>

            <tr v-for="item in list_data" v-bind:key="item.id">
                <td>{{ item.address }}</td>
                <td>{{ item.assets }}</td>
                <td>{{ item.balance }}</td>
                <td>{{ item.nonce }}</td>
                <td>{{ item.shard }}</td>
            </tr>

        </table> -->

        <ion-list>
            <ion-item> 
                <ion-button router-link="/user-assets"> See all your Space Assets </ion-button>
            </ion-item>

            <ion-list v-for="item in list_data" v-bind:key="item.id">
                <ion-item> <h3>New Space Asset </h3> </ion-item>
                <ion-item>Address: {{ item.address }} </ion-item>
                <ion-item>Assets: {{ item.assets }} </ion-item>
                <ion-item>Balance: {{ item.balance }} </ion-item>
                <ion-item>Nonce: {{ item.nonce }} </ion-item>
                <ion-item>Shard: {{ item.shard }} </ion-item>
            </ion-list>




        </ion-list>
    </base-layout>
</template>

<script lang="ts">
    import { IonList, IonItem, IonButton, IonSearchbar } from '@ionic/vue';
    // import { IonHeader, IonSearchbar, IonToolbar } from '@ionic/vue';

    // import Vue from 'vue';
    import axios from 'axios';
    // import VueAxios from 'vue-axios';
    // Vue.use(VueAxios, axios)

    import { personCircle } from 'ionicons/icons';
    import { searchCircle } from 'ionicons/icons';
    import { defineComponent } from 'vue';
    
    export default defineComponent({
        components: {
            IonList,
            IonItem,
            // IonHeader,
            IonSearchbar,
            // IonTitle,
            // IonToolbar,
            IonButton,
            // IonButtons,
            // IonBackButton,
            // IonIcon
        },
        data() {
            return {list_data:undefined}
        },

        mounted() {
            // Vue.axios.get('https://api.multiversx.com/accounts')
            // .then( (response) => {
            //     console.warn(response)
            // })

            axios.get('https://api.multiversx.com/accounts')
                .then((response) => {
                    this.list_data=response.data;
                    console.log(response.data);
            });

    //   });


        },
        setup() {
        return { personCircle, searchCircle };
        },
  });
</script>